@font-face {
  font-family: "apple_font";
  src: url("fonts\San-Francisco-Pro-Fonts-master\San-Francisco-Pro-Fonts-master\SF-Pro.ttf")
    format("truetype");
}

body {
  margin: 0;
  background-color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 22, 23, 0.8);
  color: white;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  position: fixed;
  top: 0px;
  backdrop-filter: blur(10px);
  z-index: 1000;
  width: 100%;
}

.navbar_bg {
  background-color: rgba(22, 22, 23, 1);
  height: 45.6px;
  position: relative;
}

.navitem {
  text-decoration: none;
  font-family: "apple_font", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-weight: 100;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.02rem;
}

.navitem:hover {
  color: rgba(255, 255, 255, 1);
}

.navitem:hover svg path {
  fill: rgba(255, 255, 255, 1);
}

.emi {
  background-color: #1d1d1f;
  font-family: "apple_font", sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footnote:hover {
  color: #0071e3 !important;
}

.footnote:visited {
  color: white;
}

.shop {
  text-decoration: none;
}

.shop:visited {
  color: #0071e3;
}

.shop:hover {
  text-decoration: underline;
}

.temp {
  padding: 10px;
  text-align: justify;
}

.fa-chevron-right {
  color: #0071e3;
}

.fa-chevron-right {
  font-size: 9px;
}

.feature_container {
  width: device-width;
  height: 580px;
  border: none;
  overflow: hidden;
  position: relative;
}

.feature {
  width: 1280px;
  height: 580px;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}

.feature_subhead {
  font-family: "apple_font", sans-serif;
  position: absolute;
  top: 325px;
  left: 30%;
  right: 30%;
  z-index: 4;
  color: white;
  text-align: center;
  font-size: 27px;
}

.learn_more {
  font-family: "apple_font", sans-serif;
  display: flex;
  position: absolute;
  top: 400px;
  left: 565px;
  right: 565px;
  z-index: 3;
  border-radius: 30px;
  height: 40px;
  width: 130px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0071e3;
}

.learn_more_link {
  text-decoration: none;
  transition: all 0.3s ease;
}

.learn_more_link:visited {
  color: white;
}

.learn_more_link:hover .learn_more {
  background-color: #0079f2;
}

.white_space {
  background-color: white;
  border: none;
  height: 10px;
}

.i16pro_container {
  height: 580px;
  overflow: hidden;
  position: relative;
}

.i16pro {
  width: 1280px;
  height: 580px;
  object-fit: cover;
  object-position: center;
}

.i16pro_subhead_container {
  font-family: "apple_font", sans-serif;
  color: white;
  position: absolute;
  width: 1259px;
  height: 200px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i16pro_subhead1 {
  font-size: 52px;
  font-weight: 700;
  padding: 0;
  position: absolute;
  top: 0.01rem;
}

.i16pro_subhead2 {
  font-size: 27px;
  font-weight: 500;
  padding: 0;
  position: absolute;
  bottom: 30px;
}

.learn_more {
  font-family: "apple_font", sans-serif;
  display: flex;
  position: absolute;
  top: 400px;
  left: 565px;
  right: 565px;
  z-index: 3;
  border-radius: 30px;
  height: 40px;
  width: 130px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0071e3;
}

.learn_more_i {
  font-family: "apple_font", sans-serif;
  display: flex;
  position: absolute;
  top: 450px;
  left: 525px;
  right: 565px;
  z-index: 3;
  border-radius: 30px;
  height: 40px;
  width: 130px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0071e3;
}

.learn_more_link:hover .learn_more_i {
  background-color: #0079f2;
}

.buy_link {
  text-decoration: none;
}

.buy {
  font-family: "apple_font", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 450px;
  left: 670px;
  z-index: 4;
  background-color: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  border-radius: 30px;
  height: 40px;
  width: 70px;
}

.buy_link:hover .buy {
  background-color: #0071e3;
  color: white;
}

.apple_intel {
  font-family: "apple_font", sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 350px;
  position: absolute;
  top: 500px;
  left: 460px;
  z-index: 4;
  color: grey;
  letter-spacing: 0.3px;
}

.apple_intel2 {
  font-family: "apple_font", sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 350px;
  position: absolute;
  top: 500px;
  left: 460px;
  z-index: 4;
  color: black;
  letter-spacing: 0.3px;
}

.learn_more_ipad {
  font-family: "apple_font", sans-serif;
  display: flex;
  position: absolute;
  top: 170px;
  left: 525px;
  right: 565px;
  z-index: 3;
  border-radius: 30px;
  height: 40px;
  width: 130px;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0071e3;
}

.learn_more_link:hover .learn_more_ipad {
  background-color: #0079f2;
}

.buy_ipad {
  font-family: "apple_font", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 170px;
  left: 670px;
  z-index: 4;
  background-color: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  border-radius: 30px;
  height: 40px;
  width: 70px;
}

.buy_link:hover .buy_ipad {
  background-color: #0071e3;
  color: white;
}

.apple_intel3 {
  font-family: "apple_font", sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 350px;
  position: absolute;
  top: 530px;
  left: 460px;
  z-index: 4;
  color: #595959;
  letter-spacing: 0.3px;
}

.ipad_container {
  height: 580px;
  overflow: hidden;
  position: relative;
}

.ipad_subhead_container {
  font-family: "apple_font", sans-serif;
  color: black;
  font-size: 25px;
  position: absolute;
  width: 1259px;
  height: 155px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipad_image {
  height: 80px;
  width: 355px;
  transform: scale(0.55);
  object-fit: cover;
}

.ipad_desc {
  position: absolute;
  top: 115px;
}

.rainbow_apple_intel {
  font-family: "apple_font", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 500px;
  left: 515px;
  z-index: 4;
  border: none;
  background: linear-gradient(to right, #0071e3, #827eb2, #de5f7d, #e3704b);
  filter: brightness(1.4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tiles {
  position: relative;
}

.airpods4 {
  height: 580px;
  width: 613.667px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
}

.airpods4_img {
  height: 580px;
  width: 613.667px;
  object-fit: cover;
  object-position: center;
}

.airpods4 .learn_more_i {
  top: 480px;
  left: 210px;
  font-size: 14px;
  width: 110px;
}

.airpods4 .buy {
  top: 480px;
  left: 335px;
  font-size: 14px;
  width: 60px;
}

.airpods4 .text {
  position: absolute;
  top: 375px;
  left: 215px;
  z-index: 4;
  font-family: "apple_font", sans-serif;
  font-size: 40px;
  color: white;
}

.airpods4 .text .subtext {
  position: absolute;
  top: 50px;
  left: -90px;
  font-family: "apple_font", sans-serif;
  font-size: 20px;
  color: white;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.watch {
  height: 580px;
  width: 613.667px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  left: 627.667px;
}

.watch_img {
  height: 580px;
  width: 613.667px;
  object-fit: cover;
  object-position: center;
}

.watch .learn_more_i {
  top: 160px;
  left: 210px;
  font-size: 14px;
  width: 110px;
}

.watch .buy {
  top: 160px;
  left: 335px;
  font-size: 14px;
  width: 60px;
}

.watch .image {
  position: absolute;
  top: 30px;
  left: 180px;
  /* border: 1px solid red; */
  width: 250px;
  height: 100px;
  padding: 0;
}

.watch .image img {
  width: 250px;
  height: 100px;
  transform: scale(0.6);
  object-fit: contain;
  object-position: center;
  padding: 0;
}

.watch .text {
  position: absolute;
  top: 118px;
  left: 228px;
  font-family: "apple_font", sans-serif;
  font-size: 20px;
  color: black;
}

.book_air {
  height: 580px;
  width: 613.667px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 590px;
}

.book_air_img {
  height: 580px;
  width: 613.667px;
  object-fit: cover;
  object-position: center;
}

.book_air .learn_more_i {
  top: 140px;
  left: 210px;
  font-size: 14px;
  width: 110px;
}

.book_air .buy {
  top: 140px;
  left: 335px;
  font-size: 14px;
  width: 60px;
}

.book_air .text {
  position: absolute;
  top: 50px;
  left: 190px;
  font-family: "apple_font", sans-serif;
  font-size: 40px;
  color: black;
}

.book_air .text .subtext {
  position: absolute;
  top: 50px;
  left: 20px;
  font-family: "apple_font", sans-serif;
  font-size: 20px;
  color: black;
  width: 200px;
}

.homepod {
  height: 580px;
  width: 613.667px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 590px;
  left: 627.667px;
}

.homepod_img {
  height: 580px;
  width: 613.667px;
  object-fit: cover;
  object-position: center;
}

.homepod .learn_more_i {
  top: 110px;
  left: 210px;
  font-size: 14px;
  width: 110px;
}

.homepod .buy {
  top: 110px;
  left: 335px;
  font-size: 14px;
  width: 60px;
}

.homepod .text {
  position: absolute;
  top: 50px;
  left: 170px;
  font-family: "apple_font", sans-serif;
  font-size: 40px;
  color: black;
}

.imac {
  height: 580px;
  width: 613.667px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 1180px;
}

.imac_img {
  height: 580px;
  width: 613.667px;
  object-fit: cover;
  object-position: center;
}

.imac .learn_more_i {
  top: 140px;
  left: 210px;
  font-size: 14px;
  width: 110px;
}

.imac .buy {
  top: 140px;
  left: 335px;
  font-size: 14px;
  width: 60px;
}

.imac .rainbow_apple_intel {
  font-size: 14px;
  font-weight: 600;
  top: 500px;
  left: 218px;
}

.imac .apple_intel3 {
  font-size: 13px;
  top: 515px;
  left: 135px;
}

.imac .text {
  position: absolute;
  top: 50px;
  left: 265px;
  font-family: "apple_font", sans-serif;
  font-size: 40px;
  color: black;
}

.imac .text .subtext {
  position: absolute;
  top: 50px;
  left: px;
  font-family: "apple_font", sans-serif;
  font-size: 20px;
  color: black;
}

.imac .text .subtext #l1 {
  color: #3e935c;
}

.imac .text .subtext #l2 {
  color: #edd142;
}

.imac .text .subtext #l3 {
  color: #e3704b;
}

.imac .text .subtext #l4 {
  color: #de5f7d;
}

.imac .text .subtext #l5 {
  color: #827eb2;
}

.imac .text .subtext #l6 {
  color: #547eae;
}

.trade_in {
  height: 580px;
  width: 613.667px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 1180px;
  left: 627.667px;
}

.trade_in_img {
  height: 580px;
  width: 613.667px;
  object-fit: cover;
  object-position: center;
}

.trade_in .learn_more_i {
  top: 135px;
  left: 235px;
  font-size: 14px;
  height: 35px;
  width: 140px;
}

.trade_in .text {
  position: absolute;
  top: 100px;
  left: 165px;
  font-family: "apple_font", sans-serif;
  font-size: 20px;
  color: black;
}

.trade_in .image {
  position: absolute;
  top: 25px;
  left: 180px;
  /* border: 1px solid red; */
  width: 250px;
  height: 100px;
  padding: 0;
}

.trade_in .image img {
  width: 250px;
  height: 100px;
  transform: scale(0.6);
  object-fit: contain;
  object-position: center;
  padding: 0;
}

.container {
  width: 100vw;
  height: 560px;
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
  top: 1775px;
}

.slider-wrapper {
  height: inherit;
  position: relative;
  border: none;
}

.slider {
  border: none;
  height: 523.125px;
  width: 100vw;
  display: flex;
  gap: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: normal;
  scrollbar-width: none;
}

#img-1,
#img-2,
#img-3,
#img-4,
#img-5,
#img-6,
#img-7,
#img-8,
#img-9 {
  width: 980px;
  height: 523.125px;
  scroll-snap-align: start;
}

.slider-nav {
  border: none;
  width: 100vw;
  height: 36.875px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.slider-nav a.slide {
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.42);
}

.slider-nav a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#pause {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  justify-self: right;
  position: absolute;
  left: 1225px;
}

#pause img {
  transform: scale(0.5);
}

.footer {
  width: 100vw;
  height: 930px;
  position: relative;
  top: 1775px;
  background-color: rgba(210, 210, 215, 0.2);
  padding-top: 10px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0;
  /* border: 1px solid; */
}

.footer_text {
  border: none;
  width: 950px;
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  color: #86868b;
  padding: 0;
  margin: 0;
  text-align: justify;
}

.footer hr {
  color: #ffffffcc;
  width: 700px;
}

.footer a:visited {
  color: rgb(84, 84, 87);
}

.footer_links {
  position: relative;
  top: 100px;
  /* border: 1px solid; */
  width: 950px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
  align-items: center;
  padding: 0;
}

h3 {
  font-size: 12px;
}

#c1 {
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  width: 140px;
  height: 500px;
  /* border: 1px solid; */
}

#c2 {
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  width: 210px;
  height: 500px;
  /* border: 1px solid; */
}

#c3 {
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  width: 170px;
  height: 500px;
  /* border: 1px solid; */
}

#c4 {
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  width: 170px;
  height: 500px;
  /* border: 1px solid; */
}

#c5 {
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  width: 160px;
  height: 500px;
  /* border: 1px solid; */
}

#c1 a {
  text-decoration: none;
}

#c1 a:hover {
  text-decoration: underline;
}

#c1 {
  display: flex;
  flex-direction: column;
}

#c2 a {
  text-decoration: none;
}

#c2 a:hover {
  text-decoration: underline;
}

#c2 {
  display: flex;
  flex-direction: column;
}

#c3 a {
  text-decoration: none;
}

#c3 a:hover {
  text-decoration: underline;
}

#c3 {
  display: flex;
  flex-direction: column;
}

#c4 a {
  text-decoration: none;
}

#c4 a:hover {
  text-decoration: underline;
}

#c4 {
  display: flex;
  flex-direction: column;
}

#c5 a {
  text-decoration: none;
}

#c5 a:hover {
  text-decoration: underline;
}

#c5 {
  display: flex;
  flex-direction: column;
}

#footer_bs {
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  color: #86868b;
}

#footer_bs a {
  color: #0071e3;
}

#footer_bs a:visited {
  color: #0071e3;
}

#footer_bs {
  position: relative;
  top: 130px;
}

#hr1 {
  position: relative;
  right: 160px;
  width: 960px;
}

#hr2 {
  position: relative;
  top: 1705px;
  right: 10px;
  width: 960px;
}

.final_footer {
  font-family: "apple_font", sans-serif;
  font-size: 12px;
  position: relative;
  top: 1710px;
  left: 150px;
  color: #86868b;
  /* border: 1px solid; */
  width: 960px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.final_footer a {
  color: rgba(84, 84, 87, 0.9);
  text-decoration: none;
}

.final_footer a:hover {
  text-decoration: underline;
}

/* #f1 {
  border: 1px solid red;
} */

#f2 {
  /* border: 1px solid red; */
  position: relative;
  right: 120px;
  display: flex;
  gap: 10px;
}

/* #f3 {
  border: 1px solid red;
} */
